doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      html
  body
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        h1.text-primary.mb-4 Admin - Añadir productos
        .mx-auto(style="width: 100%; max-width: 600px;")
          .input-group
            .container.text-center
                form(action='/admin/addProduct', method='POST')
                                div.form-group
                                    label.formGroupExampleInput Nombre del producto:
                                    input(type="text", placeholder="Nombre", required=true, name='name', value='').form-control
                                    
                                    label.formGroupExampleInput Categoría:
                                    input(type="text", placeholder="Categoría", required=true, name='category', value='').form-control

                                    label.formGroupExampleInput Descripción:
                                    input(type="text", placeholder="Descripción", required=true, name='description', value='').form-control

                                    label.formGroupExampleInput Precio:
                                    input(type="number", placeholder="Precio", required=true, name='price', value='').form-control

                                    label.formGroupExampleInput Cantidad:
                                    input(type="number", placeholder="Cantidad", required=true, name='quantity', value='').form-control

                                    label.formGroupExampleInput Imagen JPG:
                                    input(type="text", placeholder="Imagen.JPG", required=false, name='image', value='').form-control
                              
                                    button.mt-3.btn.btn-primary(type='submit') Agregar producto

    // Header End
    include common/footer.pug
    +footer()