doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar()
      html
  body
    // Topbar Start
    .container-fluid.bg-dark
      .row.py-2.px-lg-5
        .col-lg-6.text-center.text-lg-left.mb-2.mb-lg-0
          .d-inline-flex.align-items-center.text-white
            small
              i.fa.fa-phone-alt.mr-2
              | +012 345 6789
            small.px-3 |
            small
              i.fa.fa-envelope.mr-2
              | info@example.com
        .col-lg-6.text-center.text-lg-right
          .d-inline-flex.align-items-center
            a.text-white.px-2(href="")
              i.fab.fa-facebook-f
            a.text-white.px-2(href="")
              i.fab.fa-twitter
            a.text-white.px-2(href="")
              i.fab.fa-linkedin-in
            a.text-white.px-2(href="")
              i.fab.fa-instagram
            a.text-white.pl-2(href="")
              i.fab.fa-youtube
    // Topbar End
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        h1.text-primary.mb-4 Carrito de compras
        .mx-auto(style="width: 100%; max-width: 600px;")
          .input-group
            .container.text-center
    // Header End
    a.button.btn.text-center.mt-10.btn.btn-primary(href="payment" id="buy") Realizar compra
        |
    a.button.btn.mt-10.btn.btn-primary(href="cart/deleteCart" id="discard") Descartar carrito
    // Bootstrap table Start
    table.table.table-striped
      thead
        tr
          th(scope="col") Producto
          th(scope="col") Cantidad
          th(scope="col") Precio Unitario
          th(scope="col") Precio Total
        
      tbody
        each cart in carts
          tr
            th(scope="row") #{cart.name}
            td #{cart.quantity}
            td $ #{cart.price}
            td $ #{cart.price*cart.quantity}
        tr
            th(scope="row") Total a pagar:
            td -
            td -
            td $ #{sum}
    // Bootstrap table End
        

    include common/footer.pug
    +footer()