doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      html
  body
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        h1.text-primary.mb-4 Carrito de compras
        .mx-auto(style="width: 100%; max-width: 600px;")
          .input-group
            .container.text-center
    // Header End
    a.button.btn.text-center.mt-10.btn.btn-primary(href="cart/confirmation" id="buy") Realizar compra
        |
    a.button.btn.mt-10.btn.btn-primary(href="cart/deleteCart" id="discard") Descartar carrito
    // Bootstrap table Start
    table.table.table-striped
      thead
        tr
          th(scope="col") Producto
          th(scope="col") Cantidad
          th(scope="col") Precio Unitario
          th(scope="col") Precio Total
        
      tbody
        each cart in carts
          tr
            th(scope="row") #{cart.name}
            td #{cart.quantity}
            td $ #{cart.price}
            td $ #{cart.price*cart.quantity}
            td
              form(action="/cart/deletefromcart/" + cart._id, method='POST')
                button.btn-outline-primary.btn-sm(type='submit') Eliminar Producto
        tr
            th(scope="row") Total a pagar:
            td -
            td -
            td $ #{sum}
    // Bootstrap table End
        

    include common/footer.pug
    +footer()