doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      html
  body
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        h1.text-primary.mb-4 Admin - Ordenes de Compra
        .mx-auto(style="width: 100%; max-width: 600px;")
          .input-group
            .container.text-center
    // Header End
    // Bootstrap table Start
    table.table.table-striped
      thead
        tr
          th(scope="col") Estatus
          th(scope="col") Email
          th(scope="col") Nombre
          th(scope="col") Fecha
      tbody
          each order in ordersStored
            tr
              th(scope="row") #{order.status}
              td #{order.email}
              td #{order.name}
              td #{order.date}
              td
                form(action=`/admin/orders/${order._id}?_method=PUT`, method='POST')
                  input(type="hidden" name="_method" value="PUT")
                  button.btn-outline-primary.btn-sm(type='submit') Entregado
    // Bootstrap table End

    include common/footer.pug
    +footer()