doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar()
      html
  body
    // Topbar Start
    .container-fluid.bg-dark
      .row.py-2.px-lg-5
        .col-lg-6.text-center.text-lg-left.mb-2.mb-lg-0
          .d-inline-flex.align-items-center.text-white
            small
              i.fa.fa-phone-alt.mr-2
              | +012 345 6789
            small.px-3 |
            small
              i.fa.fa-envelope.mr-2
              | info@example.com
        .col-lg-6.text-center.text-lg-right
          .d-inline-flex.align-items-center
            a.text-white.px-2(href="")
              i.fab.fa-facebook-f
            a.text-white.px-2(href="")
              i.fab.fa-twitter
            a.text-white.px-2(href="")
              i.fab.fa-linkedin-in
            a.text-white.px-2(href="")
              i.fab.fa-instagram
            a.text-white.pl-2(href="")
              i.fab.fa-youtube
    // Topbar End
    // Header Start
    .jumbotron.jumbotron-fluid.mb-5
      .container.text-center.py-5
        h1.text-primary.mb-4 Registrarse
        .mx-auto(style="width: 100%; max-width: 600px;")
          .input-group
            .container.text-center
                form(action='/signup', method='POST')
                                div.form-group
                                    label.formGroupExampleInput Email:
                                    input(type="email", placeholder="Please enter your email", required=true, name='email', value='').form-control
                                    
                                    label.formGroupExampleInput Nombre:
                                    input(type="text", placeholder="Please enter your nombre", required=true, name='nombre', value='').form-control

                                    label.formGroupExampleInput Ciudad:
                                    input(type="text", placeholder="Please enter your ciudad", required=true, name='ciudad', value='').form-control

                                    label.formGroupExampleInput Dirección:
                                    input(type="text", placeholder="Please enter your dirección", required=true, name='direccion', value='').form-control

                                    label.formGroupExampleInput Password:
                                    input(type="password", placeholder="Please enter your New Password", required=true, name='password', value='').form-control
                              
                                    button.mt-3.btn.btn-primary(type='submit') Registrarse
                                    if (retryLogIn)
                                      p.small.text-danger Email or password incorrect.
                                    p.mt-2.mb-0
    // Header End
    include common/footer.pug
    +footer()